.placeItem {
  margin: 1rem 0;

  &__content {
    padding: 0;
  }

  &__info {
    padding: 1rem;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
  }

  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info h2,
  &__info h3,
  &__info p {
    margin: 0 0 0.5rem 0;
  }

  &__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }

  &__modalContent {
    padding: 0;
  }

  &__modalActions {
    text-align: right;
  }

  &__actions button,
  &__actions a {
    margin: 0.5rem;
  }

  @media (min-width: 768px) {
    &__image {
      height: 20rem;
    }
  }
}

.mapContainer {
  height: 15rem;
  width: 100%;
}
